/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}


  /*===== z index =====*/

  
  








  /*===== z index =====*/

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
  .section {
    max-width: 100%;
    padding: 4rem 20px;
  }
  

}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  margin-top: -10px; 
}


/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo {
  color: var(--second-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}



/*Active menu*/
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  padding-top: 2rem;
  margin-top: -60px;
}
.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  margin-top: var(--mb-23); 
}

.home__title-color {
  color: var(--first-color);
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover {
  color: var(--first-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
.home__blob {
  fill: var(--first-color);
  margin-top: -120px;
}
.home__blob-img {
  width: 430px; 
}


/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.90rem 8rem;
  font-weight: var(--font-semi);
  border-radius: 0.8rem;
  transition: 0.3s;
  margin-bottom: 10px; 
  display:inline-block; 
}

.button:hover {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8); 
}


/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
.skills__text {
  margin-bottom: var(--mb-4);
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills__html {
  width: 95%;
}
.skills__css {
  width: 85%;
}
.skills__js {
  width: 65%;
}
.skills__ux {
  width: 85%;
}
.skills__img {
  border-radius: 0.5rem;
}

/* ===== WORK =====*/
.work__container {
  row-gap: 1rem;
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.work__img img {
  transition: 111100000000000s;
}
.work__img img:hover {
  transform: scale(1.2);
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 500px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 10;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
 
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
    .l-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* Autres styles */
  }
  
}

.skill-icons--gmail-dark {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23242938' rx='60'/%3E%3Cpath fill='%234285f4' d='M41.636 203.028h31.818v-77.273L28 91.665v97.727c0 7.545 6.114 13.636 13.636 13.636'/%3E%3Cpath fill='%2334a853' d='M182.545 203.028h31.819c7.545 0 13.636-6.113 13.636-13.636V91.665l-45.455 34.09'/%3E%3Cpath fill='%23fbbc04' d='M182.545 66.664v59.091L228 91.665V73.481c0-16.863-19.25-26.477-32.727-16.363'/%3E%3Cpath fill='%23ea4335' d='M73.455 125.755v-59.09L128 107.574l54.545-40.91v59.091L128 166.665'/%3E%3Cpath fill='%23c5221f' d='M28 73.483v18.181l45.454 34.091v-59.09l-12.727-9.546C47.227 47.005 28 56.619 28 73.483'/%3E%3C/g%3E%3C/svg%3E");
}

.logo-gmail {
  margin-top: 5px;
}
.logo-linkedin, .logo-gmail {
  margin-top: 5px; 
}
.home__text {
  margin-bottom: 20px; 
}
.home::after {
  content: '';
  position: absolute;
  top: -1000;
  right: 1000;
  bottom: 0;
  left: 50%; 
  background-image: url('assets\img\about-removebg-preview.png'); 
  background-size: cover;
  z-index: -1;
}
.home__social {
  display: flex;
  align-items: center; 
}

.home__social-icon {
  margin-right: 10px; 
}

/* Effet de survol */
.home__social-icon:hover {
  transform: scale(1.2); 
.work__img img {
  max-width: 100%; 
  max-height: 100%;
  object-fit: contain;
}

.work__description {
  margin-top: 10px; 
}

.work__description {
  text-align: center; 
  padding: 0 20px;
}

.work__img {
  text-align: center;
}
}
.work__img h3 {
  color: darkslategrey;
  font-family: 'Carlito', Verdana, Geneva, sans-serif;
  text-indent: 1mm;
  margin-bottom: 5px; 
}
.home__social {
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 10px;
}

.home__social-icon:last-child::after {
  content: ''; 
  position: absolute; 
  top: 50%; 
  right: -5px; 
  transform: translateY(-50%); 
  height: 20px; 
  width: 1px;
  background-color: #ccc; 
}

.home__social {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.home__social-info {
  display: flex;
  align-items: center; 
}

.home__social-info img {
  margin-right: 5px; 
}

.home__social-info span {
  font-size: 14px; 
  font-family: 'Carlito', Verdana, Geneva, sans-serif; 
}
.footer {
  padding: 5px; 
  display: flex; 
  justify-content: space-between;
  align-items: left; 
}

.footer__title {
  margin: 0; 
}

.footer__social {
  display: flex; 
}

.footer__icon {
  margin-right: 10px; 
}

.footer__copy {
  margin: 0; 
}
.arrow-image {
  width: 20px; 
  height: auto; 
  margin-left: 5px; 
}
 
.section-container {
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 20px; 
  max-width: 1300px;
  margin: 20px auto;
}

.nav__logo {
  display: inline-block;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  border: 4px solid rgb(154, 149, 221); 
  background-color: white; 
  padding: 0px;
  overflow: hidden; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}


.nav__logo img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}
@media screen and (max-width: 514px) {
  .home__img {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    margin-top: 20px; 
  }

  .home__blob {
    width: 50px;
    height: 70px; 
    margin-top: 100px;
    margin-right: 10px; 
  }
  

  .home__social {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center; 
    margin-top: 20px; 
  }

  .home__social-icon {
    margin-right: 30px; 
  }
}
@media screen and (max-width: 514px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .footer__title {
    font-size: 10px;
  }

  .footer__social {
    margin-top: 10px;
  }

  .footer__icon {
    margin: 0 5px;
  }

  .footer__copy {
    font-size: 7px; 
    margin-top: 1px; 
  }
}





/* ===== ABOUT =====*/


.about__buttons-container {
  display: flex;
  justify-content: flex-end; 
  margin-right: 20px; 
}

.about__buttons {
  display: flex;
  gap: 20px; 
}
.button {
  
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  width: 50%; 
}

.button:hover {
  background-color: #0056b3;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 514px) {
  .about__buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
  }

  .button {
    width: 100%; 
  }
}


/* ABOUT */

.about__img img {
  max-width: 90%; 
  height: auto; 
}
.about__container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

.about__buttons-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
}
.section-title {
  color: #333333; 
}
.about__banner {
  background-color: #f5f5f5;
  border: 1px solid #bab3b3;
  padding: 70px;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(10px); 
  border-radius: 20px; 
}
.about_work__img img {
  width: 250px; 
  height: auto; 
  margin-left: auto;
}
@media (max-width: 514px) {
  /* ABOUT */
  .about__img img {
      max-width: 90%; 
      height: auto; 
      display: block; 
      margin: 10px auto; 
  }
  .about__container {
      flex-direction: column; 
      padding: 10px; 
  }
  .about__buttons-container {
      flex-direction: column; 
      margin-top: 10px; 
  }
  .section-title {
      font-size: 1.5rem;
      text-align: center; 
  }
  .about__banner {
      padding: 5px;
      width: 90%; 
      margin-top: 5px; 
      transform: none;
      margin-left: auto;
      margin-right: auto; 
  }
  .about_work__img img {
    width: 0%; 
    height: auto;
    display: block;
    margin: 0 auto; 
    margin-top: 10px; 
}
}
/* CARREER */

.about_carreer__img img {
  max-width: 514px; 
  width: auto; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

.about_career__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.about_career__img {
  flex: 8; 
  max-width: 200px; 
  margin: 10px;
}

.text-container {
  flex: 3; 
}


.about__banner_carreer {
  background-color: #f5f5f5;
  border: 1px solid #bab3b3;
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(10px); 
  border-radius: 20px;
  overflow: hidden; /* Ajoutez cette propriété */
}

.about__banner_carreer img {
  width: 100%; /* Prend toute la largeur du conteneur */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  display: block; /* Élimine tout espace supplémentaire sous l'image */
}


/* Styles généraux pour les images dans les conteneurs de carrière */
.about_career__img img {
  width: 100%; /* Permet aux images de s'adapter à la largeur du conteneur */
  max-width: 200px; /* Limite la taille maximale des images sur les grands écrans */
}
/* Media Queries pour les appareils mobiles */
@media (max-width: 768px) {
  .about_career__container {
      flex-direction: column;
      text-align: left;
  }
  .section-container {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 4px; 
    max-width: 90%;
    margin: 0 auto; 
    margin: 20px auto;
    height: 50%;
  
  }

  .text-container {
      order: 2;
      width: 100%; /* Utilise toute la largeur disponible */
      height: 100%;
  }

  .about_career__img {
      order: 2;
      width: 100%; /* Permet à l'image de s'adapter à la largeur du conteneur de lien */
      max-width: 80px; /* Réduit considérablement la taille de l'image */
      display: block; /* Assure que l'image est affichée comme un bloc */
      margin: 10px auto 0; /* Centre l'image horizontalement et ajoute de l'espace au-dessus */
  }
}


/* Adaptations pour les très petits écrans */
@media (max-width: 480px) {
  .about_career__img img {
      max-width: 100px; /* Réduction supplémentaire pour les très petits écrans */
  }

  .text-container h3, .text-container p {
      font-size: 12px; /* Réduction de la taille du texte pour améliorer la lisibilité */
  }
}
